body{
  text-align: center;
  background-image: url(/src/assets/martin-sanchez-unsplash.jpg);
  background-size: cover; /* or contain depending on what you want */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
}



 
