body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container{
  height: 60vh; 
  width: 80vw;
  border: 3px rgba(240, 236, 236, 0.1) solid;
  border-radius: 20px;
  padding: 5px;
  background-color:rgba(255, 255, 255, .3);
  box-shadow: 10px 5px 5px rgba(255,255,255, .1);
  
  }
  
.title{
    color:rgb(0, 0, 0, .9);
    opacity: .8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }


  .profile-image{
    height: 300px;
    width: 400px;
    margin-right: 15px;
    border-radius:20px;
    opacity: .7;
    
  }

  @media only screen and (max-width:600px){
    .container{
     
      width: 80vw; 
    }




    body{
      text-align: center;
      background-image: url(/src/assets/martin-sanchez-unsplash.jpg);
      background-size: cover; 
      background-position: center;
      background-repeat: repeat;
      
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     
    *
    }
  }